.list {
  display: flex;
  gap: 8px;
  align-items: center;
}
.item {
  flex-shrink: 0;
}
.link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  @media (any-hover: hover) {
    transition: background-color 0.3s ease;
    & svg path {
      transition: fill 0.3s ease;
    }
    &:hover {
      background-color: var(--success);
      & svg path {
        fill: #fff;
      }
    }
  }
}
