.page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  text-align: center;
  margin-bottom: 80px;
}
.title {
  font-size: 40px;
  font-weight: 600;
  line-height: 120%;
}
.text {
  line-height: 150%;
  color: #808080;
  max-width: 600px;
}
