.productTitle {
  display: flex;
  align-items: center;
  gap: 12px;
  @media (max-width: 1200px) {
    // flex-wrap: wrap;
  }
  a {
    @media (any-hover: hover) {
      transition: color 0.3s ease;
      &:hover {
        color: var(--success);
      }
    }
  }
}
.image {
  width: 100px;
  flex: 0 0 100px;
  height: 100px;
  @media (max-width: 768px) {
    flex: 0 0 50px;
    height: 50px;
  }
}
.productTotalPrice {
  white-space: nowrap;
  span {
    font-weight: 500;
    display: inline-block;
    min-width: 60px;
  }
}
.productDelete {
  text-align: right;
}

.DeleteBtn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 1px solid #cccccc;

  @media (any-hover: hover) {
    transition: transform 0.3s ease;
    &:hover {
      transform: rotate(180deg);
    }
  }
}

.counter {
  border-radius: 170px;
  border: 1px solid #e6e6e6;
  background: #fff;
  padding: 8px;
  display: inline-flex;
  align-items: center;
  gap: 10px;
}
.counterBtn {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 50%;
  width: 34px;
  height: 34px;
  flex-shrink: 0;
  font-size: 20px;
  transition: transform 0.15s ease;
  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    &:active {
      transform: none;
    }
  }
}
.counterNumber {
  min-width: 22px;
  text-align: center;
}
