.products {
  margin-bottom: 80px;
}
.productsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px -24px;
  @media (max-width: 1200px) {
    margin: 0 -7px -15px;
  }
  @media (max-width: 768px) {
    margin: 0 -4px -7px;
  }
}
.productsItem {
  margin-bottom: 24px;
  padding: 0 12px;
  flex: 0 1 25%;
  @media (max-width: 1200px) {
    margin-bottom: 15px;
    padding: 0 7px;
  }
  @media (max-width: 992px) {
    flex: 0 1 33.333%;
  }
  @media (max-width: 768px) {
    margin-bottom: 7px;
    padding: 0 4px;
  }
  @media (max-width: 600px) {
    flex: 0 1 50%;
  }
  @media (max-width: 380px) {
    flex: 1 1 100%;
  }
}
.pagination {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  @media (max-width: 768px) {
    padding-top: 20px;
  }
}
.search {
  button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: left;
    background-color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: 6px;
    gap: 6px;
    line-height: 110%;
    @media (any-hover: hover) {
      transition: background-color 0.15s ease;
      &:hover {
        background-color: #e6e6e6;
      }
    }
  }
}

.top {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 24px;
  @media (max-width: 992px) {
    margin-bottom: 15px;
  }
  @media (max-width: 600px) {
    flex-wrap: wrap;
  }
}
.results {
  align-self: flex-end;
  flex: 1 1 auto;
  font-size: 14px;
  span {
    font-weight: 600;
  }
}
.clearFiltersBtn {
}
.filters {
  @media (max-width: 600px) {
    flex: 1 1 100%;
  }
}
.filter {
  min-width: 220px;
}
