.form {
  position: relative;
  @media (min-width: 480px) {
    height: 52px;
  }
}
.input {
  padding: 14px 180px 14px 24px;
  width: 100%;
  border-radius: 46px;
  border: 1px solid var(--Gray-Scale-Gray-100, #e6e6e6);
  background: var(--Gray-Scale-White, #fff);
  height: 100%;
  font-size: 16px;
  line-height: 150%;
  @media (max-width: 768px) {
    padding: 14px 135px 14px 24px;
  }
  @media (max-width: 479px) {
    margin-bottom: 10px;
    padding: 14px 15px;
  }
}
.button {
  font-size: 16px;
  font-weight: 600;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 16px 40px;
  border-radius: 43px;
  background-color: var(--success);
  color: #fff;
  @media (min-width: 480px) {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
  }
  @media (max-width: 768px) {
    padding: 16px 20px;
  }
  @media (max-width: 479px) {
    width: 100%;
  }
  @media (any-hover: hover) {
    transition: background-color 0.3s ease;
    &:hover {
      background-color: var(--successDark);
    }
  }
}
