:root {
  --success: #00b207;
  --successDark: #2c742f;
}

body {
  font-family: 'Poppins', sans-serif;
  line-height: 1;
  color: #1a1a1a;
}
#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  @supports (overflow: clip) {
    overflow: clip;
  }
  > main {
    flex: 1 1 auto;
  }
  > * {
    min-width: 0;
  }
}
main {
  padding-top: 195px;
  @media (max-width: 1565px){
    padding-top: 170px;
  }
  @media (max-width: 1200px){
    padding-top: 140px;
  }
  @media (max-width: 992px){
    padding-top: 115px;
  }
  @media (max-width: 767px){
    padding-top: 55px;
  }
}
.section {
  &_mb {
    margin-bottom: 60px;
  }
  &_layer-top {
    margin-top: -70px;
  }

  &_gray {
    padding: 55px 0;
    background-color: #f7f7f7;
    @media (max-width: 768px) {
      padding: 30px 0;
    }
  }
}

.white {
  color: #fff;
}
.dark-green {
  color: #002603;
}

.link {
  @media (any-hover: hover) {
    transition: color 0.3s ease;
    svg path {
      transition: fill 0.3s ease;
    }
    &:hover {
      color: var(--success);
      svg path {
        fill: var(--success);
      }
    }
  }
}

.ibg {
  position: relative;
  img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }
}
.scrollbar {
  width: 50%;
  margin: 0 auto;
  margin-top: 15px;
  height: 6px;
  background-color: rgba(0, 178, 6, 0.2);
  border-radius: 8px;
  cursor: pointer;
  @media (max-width: 768px) {
    margin-top: 8px;
    width: 100%;
  }

  & .swiper-scrollbar-drag {
    opacity: 1;
    height: 100%;
    background-color: var(--success);
    border-radius: 8px;
  }
}
