.banner {
  height: 100%;
  overflow: hidden;
  @media (min-width: 993px) {
    border-radius: 10px;
  }
}

.content {
  position: relative;
  z-index: 2;
  padding: 32px;
  height: 100%;
  @media (max-width: 480px) {
    padding: 15px;
  }
}
.title {
  font-weight: 500;
  letter-spacing: 0.42px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.ofer {
  font-size: 32px;
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 12px;
}
.desc {
  line-height: 150%;
  margin-bottom: 24px;
  color: #666;
}
