.containerBig {
  max-width: 1550px;
  margin: 0 auto;
  background-color: #edf2ee;
  padding-top: 50px;
  padding-bottom: 100px;
  @media (min-width: 1565px) {
    border-radius: 8px;
  }
}
.slider swiper-container::part(container) {
  @media (max-width: 992px) {
    overflow: visible !important;
  }
}
.slider swiper-container::part(pagination) {
  position: relative;
  padding-top: 15px;
}
.slider swiper-container::part(bullet-active) {
  background-color: var(--success);
  width: 16px;
  border-radius: 50px;
  transition: all 0.3s ease;
}
.slider swiper-container::part(bullet) {
  background-color: var(--success);
  width: 8px;
  height: 8px;
  transition: all 0.3s ease;
}
