.banner {
  display: flex;
  align-items: center;
  @media (max-width: 768px) {
    display: block;
  }
}
.column {
  &:first-child {
    flex: 1 1 40%;
    margin-right: -100px;
    @media (max-width: 768px) {
      margin-right: 0;
      margin-bottom: 15px;
    }
  }
  &:last-child {
    flex: 1 1 60%;
  }
}
.content {
  position: relative;
  z-index: 2;
}
.title {
  font-size: 14px;
  font-weight: 500;
  line-height: 100%;
  letter-spacing: 0.28px;
  text-transform: uppercase;
  color: var(--success);
  margin-bottom: 8px;
}
.subtitle {
  font-size: 72px;
  font-size: clamp(32px, 6vw, 72px);
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 28px;
}
.offer {
  font-size: 32px;
  font-size: clamp(20px, 4vw, 32px);
  font-weight: 600;
  line-height: 120%;
  margin-bottom: 12px;
  span {
    color: #ff8a00;
  }
}
.text {
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
  color: #808080;
  margin-bottom: 32px;
  // max-width: 300px;
}
.image {
  padding-bottom: 64%;
  img {
    object-fit: contain !important;
  }
}
