.productsList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -12px -24px;
  margin-bottom: 48px;
  @media (max-width: 1200px) {
    margin: 0 -7px -15px;
    margin-bottom: 24px;
  }
  @media (max-width: 768px) {
    margin: 0 -4px -7px;
    margin-bottom: 24px;
  }
}
.productsItem {
  margin-bottom: 24px;
  padding: 0 12px;
  flex: 0 1 25%;
  @media (max-width: 1200px) {
    margin-bottom: 15px;
    padding: 0 7px;
  }
  @media (max-width: 768px) {
    flex: 0 1 50%;
    margin-bottom: 7px;
    padding: 0 4px;
  }
  @media (max-width: 600px) {
  }
  @media (max-width: 380px) {
    flex: 1 1 100%;
  }
}
